img {
  margin: 4px;
  padding: 4px;
  border:dashed 1px red;
}


.single-image {
  border: dashed 1px #fbc0b3;
  margin:4px;
  padding: 4px;
}

.images-list {
  border: solid 1px blue;
  display:inline-flex;
}



@keyframes heat-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.heart-animation {
  position: absolute;
  /*top: calc(50%-64px);*/
  /*left: calc(50%-64px);*/
  font-size:128px;
  animation-name: heat-animation;
  animation-duration: 5s;
  color: red;
  opacity: 0;
  pointer-events: none;

}
