/* TODO: make correct animation #1 */
@keyframes heat-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}

div.heart-animation {
  position: absolute;
top:0px;
  left:0px;
  font-size:40px;
  animation-name: heat-animation;
  transition: all 500ms cubic-bezier(1.000, -0.160, 0.590, 0.145);
  animation-duration: .7s;
  color: #c5004b;
  opacity: 0;
  pointer-events: none;
}
